.navigationLink {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.navigationLink > * + * {
  margin-top: 24px;
}

.socialMediaLink {
  display: flex;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialLink {
  margin-right: 1.5rem;
}