.footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--gray-200);
  padding-top: 1.5rem;
}
.footer > * + * {
  margin-top: 1rem;
}

.footerText {
  color: var(--gray-500);
  font-weight: 400;
  font-family: var(--Inter);
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .zuriLogo {
    margin-right: auto;
  }

  .footerText {
    font-size: 1rem;
  }
  .ingressive {
    margin-left: auto;
  }
}
