.header {
  display: flex;
  flex-direction: column;
}

.headerTitle {
  font-size: 2.25rem;
  font-weight: 600;
  font-family: var(--Inter);
  color: var(--gray-900);
}

.headerText {
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: 400;
  font-family: var(--Inter);
  line-height: 1.75rem;
  color: var(--gray-600);
}


@media screen and (min-width: 768px) {
 .headerText {
  font-size: 1.25rem;
 }
}