* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Inter: "Inter", sans-serif;
  --gray-900: #101828;
  --gray-200: #eaecf0;
  --gray-500: #667085;
  --white: #fff;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

img {
  display: block;
}
